*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#00c853,#00bcd4);
    min-height:100vh;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;
    margin:20px;

    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.3);
    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#000000;
}

nav a{
    text-decoration: none;
    color: #000;
    margin-left: 15px;
    padding: 10px 18px;
    background: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 12px;
    transition: 0.3s;
}

nav a:hover{
    background: #00a651;
    color: white;
    transform: translateY(-2px);
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 80px;
    min-height:80vh;
}

.text{
    max-width:500px;
}

.text h1{
    font-size:60px;
    line-height:1.1;
    margin-bottom:20px;
}

.text p{
    color:#000000;
    line-height:1.7;
    margin-bottom:30px;
}

button{
    background:#00a651;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#008a43;
}

.image{
    position: relative;
    width: 350px;
    height: 450px;
}

.sprite{
    position: absolute;
    width: 280px;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    z-index: 2;
    transition: transform 0.4s ease;
}

.sprite:hover{
    transform: translateX(-50%) rotate(-8deg) scale(1.05);
}

.water{
    width: 500px;
    position: absolute;
    bottom: -90px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.9;
}
@media(max-width:768px){

header{
    padding:20px;
    flex-direction:column;
}

nav{
    margin-top:15px;
}

.hero{
    flex-direction:column-reverse;
    text-align:center;
    padding:40px 20px;
}

.image img{
    width:220px;
    margin-bottom:30px;
}

.text h1{
    font-size:42px;
}

}